<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="cafe.jjdev.mall.mapper.BoardMapper">
    <update id="updateBoard" parameterType="cafe.jjdev.mall.vo.Board">
        UPDATE board 
            SET board_title = #{boardTitle}
            , board_content = #{boardContent} 
        WHERE board_no = #{boardNo} 
        AND board_pw = #{boardPw}
    </update>

    						<!-- 매개변수 이름 -->
    <delete id="deleteBoard" parameterType="cafe.jjdev.mall.vo.Board">
        DELETE FROM board 
        WHERE board_no = #{boardNo} 
        AND board_pw = #{boardPw}
    </delete>
    <!-- 상세보기 수정폼 -->
    <select id="selectBoard" parameterType="int" resultType="cafe.jjdev.mall.vo.Board">
        SELECT
            board_no AS boardNo 
            ,board_title AS boardTitle
            , board_content AS boardContent
            , board_user AS boardUser
            , board_date AS boardDate
        FROM board 
        WHERE board_no=#{boardNo}
    </select>
    
    <select id="selectBoardList" parameterType="java.util.Map" resultType="cafe.jjdev.mall.vo.Board">
        SELECT 
            board_no AS boardNo
            , board_title AS boardTitle
            , board_user AS boardUser
            , board_date As boardDate
        FROM board 
        ORDER BY board_date DESC 
        LIMIT #{beginRow}, #{rowPerPage}
    </select>
    
    <select id="selectBoardCount" resultType="int">
        SELECT COUNT(*) FROM board
    </select>
    
    <insert id="insertBoard" parameterType="cafe.jjdev.mall.vo.Board">
    	<selectKey resultType="int" keyProperty="boardNo" order="AFTER">
    		select last_insert_ID()
    	</selectKey>
        INSERT INTO board(
            board_pw
            , board_title
            , board_content
            , board_user
            , board_date) 
        VALUES(
            #{boardPw}
            , #{boardTitle}
            , #{boardContent}
            , #{boardUser}
            ,now()
        )
    </insert>
    <select id="selectBoardPw" parameterType="int" resultType="String">
			select 
				board_pw
			from board
			where board_no = #{boardNo}			
	</select>
</mapper>



