<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="cafe.jjdev.mall.mapper.CategoryMapper">
	<select id="selectCategoryList" resultType="cafe.jjdev.mall.vo.Category">
		select
			category_no as categoryNo
			,category_name as categoryName
		from category	
	</select>
</mapper>